:root{
    --primary-color: #647a36;

    --secondary-color: #CCFA61;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: var(--secondary-color);
}
.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


h1{
    font-size: 64px;
    margin-bottom: 60px;
    color: var(--primary-color);
}

input{
    font-size: 30px;
    border-radius: 20px;
    background-color: #a0bd5c;
    outline: none;
    border: #647a36 1px solid;
    padding: 10px;
}

.btn-start{
    margin: 30px;
    padding: 20px 80px;
    font-size: 20px;
    color: var(--primary-color);
    background-color: transparent;
    border: var(--primary-color) 2px solid;
    border-radius: 50px;
}
.btn-start:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

header{
    display: grid;
    background-color: #a6ca57; 
    color: white;
    color: var(--primary-color);
}
.quit{
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
    color: white;
    background-color: rgb(247, 84, 84);
    border: none;
    padding: 5px;
    font-weight: bold;
}

.quit:hover{
    cursor: pointer;
    background-color: rgb(202, 77, 77);
}

.propositions{
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.choice{
    margin: 30px;
    padding: 20px 80px;
    font-size: 20;
    color: var(--primary-color);
    background-color: transparent;
    border: var(--primary-color) 2px solid;
    border-radius: 50px;
}

.choice:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.question{
    text-align: center;
    padding: 40px 0;
    font-size: 45px;
    background-color: transparent;
    color: var(--primary-color);
}


